<configuration>

    <appender name="kafka-appender" class="com.sanjeev1779.log.analysis.log.collector.appenders.KafkaBasedAppender"/>
    <loggerName name="org.apache.kafka" level = "off"/>

    <root level="error">
        <appender-ref ref="kafka-appender" />
        <appender-ref ref="STDOUT"/>
    </root>
</configuration>
